{{define "header"}}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>ECMonster</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
	<div id="header">
		<div id="logo">
			<a href="/">
				<img src="/assets/img/header/logo.png">
			</a>
		</div>
		<div id="searchbox">
			<input type="text" placeholder="検索">
		</div>
		<div id="notice">
		</div>
		{{if false}}
		<div id="user-info">
		</div>
		{{else}}
		<div id="login">
			<input type="button" value="ログイン" onClick="location.href='/login'">
		</div>
		{{end}}
	</div>
	<div id="content">
{{end}}
